<select name="post[im_a]">
	<option>I'm a</option>
	
	<% PersonalsPost::TYPES.each do |type| %>
	
		<% if @post.im_a == type %>
			<%= ("<option value=\"#{type}\" selected>" + type + "</option>").html_safe %>
		<% else %>
			<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
		<% end %>
	<% end %>
</select>

<select name="post[looking_for]">
	<option>looking for a</option>
	
	<% PersonalsPost::TYPES.each do |type| %>
	
		<% if @post.looking_for == type %>
			<%= ("<option value=\"#{type}\" selected>" + type + "</option>").html_safe %>
		<% else %>
			<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
		<% end %>
	<% end %>
</select>

<br>

<%= render partial: "./basic_post_form" %>