<div class="form-container">
<div class="new-broker-form">
<h1>Edit Your Account!</h1>


<form action="<%= user_url(@user) %>" method="post">

		<%= form_auth_token %>
	
		<div class="input">
			<label for="sign-in-email">email</label>
			<input type="text" name="user[email]" id="sign-in-email" value="<%= @user.email %>">
		</div>


		<div class="input">
			<label for="sign-in-fullname">full name</label>
			<input type="text" name="user[fullname]" id="sign-in-fullname" value="<%= @user.fullname %>">
		</div>
		
		<div class="input">
			<label for="new_broker_select_broker">lister type</label>
			<select name="user[broker]">
				<option value="broker">broker</option>
				<option value="owner">owner</option>
			</select>
		</div>
		
		
		<div class="input">
			<label for="sign-in-company">company (brokers only)</label>
			<input type="text" name="user[company]" id="sign-in-company" value="<%= @user.company %>">
		</div>
		


		<div class="input">
			<label for="sign-in-password">password</label>
			<input type="text" name="user[password]" placeholder="***********">
		</div>
		
		<div class="input">
			<label for="sign-in-phone">phone</label>
			<input type="text" name="user[phone]" value="<%= @user.phone %>">
		</div>
		

		<input type="hidden" name="_method" value="put">
		
		
		<div class="sign-in-buttons">
			<ul>
				<li><input type="submit" value="Save Changes"></li>
				<li><%= link_to "cancel", user_url(@user) %></li>
			</ul>
		</div>
		
</form>
</div>
</div>