<!-- users/edit	 -->
<div class="form-container edit-user-form">
<h1>Edit User Profile</h1>

<form action="<%= user_url(@user) %>" method="post">

		<%= form_auth_token %>
	
		<div class="input">
			<label for="sign-in-email">email</label>
			<input type="text" name="user[email]" id="sign-in-email" value="<%= @user.email %>">
		</div>

		<div class="input">
			<label for="sign-in-username">username</label>
			<input type="text" name="user[username]" id="sign-in-username" value="<%= @user.username %>">
		</div>

		<div class="input">
			<label for="sign-in-password">change password</label>
			<input type="text" name="user[password]" id="sign-in-password">
		</div>
		
		<div class="input">
			<label for="sign-in-password-confirm">confirm password</label>
			<input type="text" name="user[password_confirm]" id="sign-in-password-confirm">
		</div>
		
		<input type="hidden" name="_method" value="PUT">
		
		<div class="sign-in-buttons">
			<ul>
				<li><input type="submit" value="Save Changes"></li>
				<li><%= link_to "cancel", user_url(current_user) %></li>
			</ul>
		</div>
		
		<div class="clear-fix"></div>
</form>
</div>
</div>