<div class="users-container">
	
	<h1>Hello <%= link_to current_user.username || current_user.email, edit_user_url(current_user) %>!</h1>
	
	<h2>Your Listings</h2>
	
	<table clas="user-listings-table">
		<thead>
			<!-- <th>Status</th> -->
			<th>Manage</th>
			<th>Status</th>
			<th>Watchers</th>
			<th>Title</th>
			<th>Location</th>
			<th>Notes</th>
			<th>Posted On</th>
		</thead>
		
		<% @user.housing_posts.each do |post| %>
			<tr>
				<td>
					<div class="manage-buttons">
						<ul>
							<li><%= link_to "Edit", edit_housing_post_url(post) %></li>
							<li><%= button_to "Delete", housing_post_url(post), method: :delete %></li>
						</ul>
					</div>
				</td>
				<td>STATUS</td>
				<td>WATCHERS</td>
				<td><%= link_to post.title, housing_post_url(post) %></td>
				<td><%= post.street + ", " + post.specific_location %></td>
				<td>NOTES</td>
				<td><%= post.post_date %></td>
			</tr>
		<% end %>
	</table>
	
</div>