<!-- housing_posts/_form -->

<div class="post-form-section contact-info-form">

	<%= form_auth_token %>

	<div class="input input-email">
		<label for="email">email</label>
		<input type="text" name="post[contact_email]" 
					 value="<%= @post.contact_email || current_user.email %>" id="email">
	</div>

	<div class="input input-phone">
		<label for="phone">phone number</label>
		<input type="text" name="post[contact_phone]" 
					 value="<%= @post.contact_phone || current_user.phone %>" id="phone">
	</div>

	<div class="input input-contact-name">
		<label for="contact-name">contact name</label>
		<input type="text" name="post[contact_name]" 
					 value="<%= @post.contact_name || current_user.fullname %>" id="cantact-name">
	</div>
	
	<div class="clear-fix"></div>
</div>


		
		<div class="title-category">
			<div class="input input-title">
				<label for="title">title</label>
				<input type="text" name="post[title]" value="<%= @post.title %>" id="title">
			
			</div>
				
			<div class="select-category">	
				<label for="select-category">category</label>
				<select name="post[category]" id="select-category">
						<% HousingPost::CATEGORIES.each do |category| %>
			
							<% if @post.category == category %>
								<%= ("<option value=\"#{category}\" selected>" + category + "</option>").html_safe %>
							<% else %>
								<%= ("<option value=\"#{category}\">" + category + "</option>").html_safe %>
							<% end %>
						<% end %>
					</select>
				</div>
	
		<div class="clear-fix"></div>
	</div>

		<div class="location">
			<div class="input">
					<label for="specific-location-input">specific location</label>
					<input type="text" name="post[specific_location]" value="<%= @post.specific_location %>" id="specific-location-input">
				</div>
		
				<div class="input">
					<label for="zip-code-input">zip code</label>
					<input type="text" name="post[zip_code]" value="<%= @post.zip_code %>" id="zip-code-input">
				</div>
			
			
			
			<div class="select-region">
				<label for="select-region">region</label>
				<select name="post[region]" id="select-region">
					<% HousingPost::REGIONS.each do |region|  %>
						<% if @post.region == region %>
							<%= ("<option value=\"#{region}\" selected>" + region +  "</option>").html_safe %>
						<% else %>
							<%= ("<option value=\"#{region}\">" + region +  "</option>").html_safe %>
						<% end %>
				
					<% end %>
			
				</select>
		
			</div>
			
			<div class="clear-fix"></div>
		</div>
	

<div class="post-form-section housing-poster-info">	<label>
	<div class="input">
		<label for="fees-input">
				Please disclose type and amount of ANY and ALL fees (credit check, registration, application, broker):
		</label>
		<input type="text" name="post[fees]" value="<%= @post.fees %>" id="fees-input">
	</div>

	<div class="input">
		<label for="ad-poster-input">
			Full name of the person and/or company posting this ad (min 15 chars): 
		</label>
		<input type="text" name="post[ad_poster_name]" 
					 value="<%= @post.ad_poster_name || (current_user.fullname + (" - " + current_user.company ? current_user.company : ""))%>" 
					 id="ad-poster-input">
	</div>
	
	<br>
	
	<div class="select-lister-type">
		<label for="lister-type">lister type</label>
			<select name="post[lister_type]" id="lister-type">
				<% HousingPost::LISTER_TYPES.each do |type| %>
				
				<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
				
				<% end %>
			</select>
	</div>
	
	<div class="clear-fix"></div>
</div>


<div class="form-body">
	<label for="post_body">description</label>
	<textarea name="post[body]" id="post_body"><%= @post.body %></textarea>
	<div class="clear-fix"></div>
</div>
	
	<div class="space-details">
		
		<div class="input">
			<label for="sqft-input">sqft</label>
				<input type="text" name="post[sq_feet]" value="<%= @post.sq_feet unless @post.sq_feet == 0 %>" id="sqft-input">
			</div>
		
			<div class="input">
				<label for="rent-input">rent</label>
				<input type="text" name="post[rent]" value="<%= @post.rent unless @post.rent == 0%>" id="rent-input">
			</div>
		
		<div class="input">
			<label for="select-bedrooms">bedrooms</label>
					<select name="post[beds]" id="select-bedroomms">
						<% 9.times do |i| %>
						
							<% if @post.beds == i %>
								<%= ("<option value=\"#{i.to_s}\" selected>" + i.to_s + "</option>").html_safe %>
							<% else %>
								<%= ("<option value=\"#{i.to_s}\">" + i.to_s + "</option>").html_safe %>
							<% end %>
						
						<% end %>
						
					</select>
				</div>
		
		<div class="input">
			<label for="select-bathrooms">bathrooms</label>
					<select name="post[bathrooms]" id="select-bathrooms">
						<option value="shared">shared</option>
						<option value="split">split</option>
						
						<% (1..8).each do |i| %>
						
							<% if @post.bathrooms == i.to_s  %>
								<%= ("<option value=\"#{i.to_s}\" selected>" + i.to_s + "</option>").html_safe %>
								<%= ("<option value=\"#{i.to_s}.5\">" + "#{i.to_s}.5" + "</option>").html_safe %>
							<% elsif @post.bathrooms == i.to_s + ".5" %>
								<%= ("<option value=\"#{i.to_s}\">" + i.to_s + "</option>").html_safe %>
								<%= ("<option value=\"#{i.to_s}.5\" selected>" + "#{i.to_s}.5" + "</option>").html_safe %>
							<% else %>
								<%= ("<option value=\"#{i.to_s}\">" + i.to_s + "</option>").html_safe %>
								<%= ("<option value=\"#{i.to_s}.5\">" + "#{i.to_s}.5" + "</option>").html_safe %>
							<% end %>
						
						<% end %>
						
						<option value="9+">9&#43;</option>
					</select>
				</div>
		
		
		<div class="input">
			<label for="select-housing-type">housing type</label>
					<select name="post[housing_type]" id="select-housing-type">
						<% HousingPost::HOUSING_TYPES.each do |type| %>
						
							<% if @post.housing_type == type %>
								<%= ("<option value=\"#{type}\" selected>" + type + "</option>").html_safe %>
							<% else %>
								<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
							<% end %>
						
						<% end %>
					</select>
				</div>
	
		<div class="input">
			<label for="select-laundry">laundry</label>
					<select name="post[laundry]" id="select-laundry">
						<% HousingPost::LAUNDRY.each do |type| %>
					
							<% if @post.laundry == type %>
								<%= ("<option value=\"#{type}\" selected>" + type + "</option>").html_safe %>
							<% else %>
								<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
							<% end %>
					
						<% end %>
					</select>
				</div>
	
		<div class="input">
			<label for="select-parking">parking</label>
					<select name="post[parking]" id="select-parking">
						<% HousingPost::PARKING.each do |type| %>
					
							<% if @post.parking == type %>
								<%= ("<option value=\"#{type}\" selected>" + type + "</option>").html_safe %>
							<% else %>
								<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
							<% end %>
					
						<% end %>
					</select>
				</div>
	</div>
	
	<div class="clear-fix"></div>
	
		<div class="other-options">
			
			<div class="input">
				<label for="cats-input">cats ok</label>
				<input type="checkbox" id="cats-input" name="other_options[]" value="cats" <%= "checked" if @post.cats %>>
			</div>
		
			<div class="input">
				<label for="dogs-input">dogs ok</label>
				<input type="checkbox" id="dogs-input" name="other_options[]" value="dogs" <%= "checked" if @post.dogs %>>
			</div>
		  
			<div class="input">
				<label for="wheelchair-input">wheelchair accessable</label>
				<input type="checkbox" id="wheelchair-input" name="other_options[]" value="wheelchair" <%= "checked" if @post.wheelchair %>>
			</div>
			
			<div class="input">
				<label for="furnished-input">furnished</label>
				<input type="checkbox" id="furished-input" name="other_options[]" value="furnished" <%= "checked" if @post.furnished %>>
			</div>
			
			<div class="input">
				<label for="smoking-input">smoking</label>
				<input type="checkbox" id="smoking-input" name="other_options[]" value="smoking" <%= "checked" if @post.smoking %>>
			</div>
			
			<div class="clear-fix"></div>
		</div>
			
	<div class="clear-fix"></div>
	
<div class="image-upload-section">
	<label for="image-input">images (limit 5)</label>
	<input type="file" id="image-input" name="pictures[]" multiple>
</div>		
		<%= render partial: "./map_info_form" %>