
<div class="index-container">
	
	<div class="index-alt-view-buttons">
		<ul>
			<li><%= link_to "map view", index_map_url %></li>
		</ul>
	</div>
	
	<div class="post-list">
		<ul>
			<% @posts.each do |post| %>
				<li>
					<p>
						<span class="rent-beds"><%= "$" + post.rent.to_s + " / " + post.beds.to_s + "BR" %></span> 
						<span class="list-region"><%= " (" + post.specific_location + ")" %></span> 
						<strong><%= link_to post.title, housing_post_url(post) %></strong> 
						- <%= post.housing_type + "s for " + post.category + " in " + post.region %> - <%= post.post_date_time %>
					</p>
				</li>
			<% end %>
		</ul>
	</div>
</div>