<!-- housing_posts/new -->

<h2>create a new housing post</h2>

<form action="<%= housing_posts_url %>" method="post">
	
	<label>
		Please disclose type and amount of ANY and ALL fees (credit check, registration, application, broker):
		<br>
		<input type="text" name="post[fees]" value="<%= @post.fees %>">
	</label>
	
	<br>
	
	<label>
		Full name of the company and of the person posting this ad (min 15 chars): 
		<br>
		<input type="text" name="post[ad_poster_name]" value="<%= @post.contact_name %>">
	</label>
	
	<br>
	
	<label>
		lister type
		<select name="post[lister_type]">
			<% HousingPost::LISTER_TYPES.each do |type| %>
			
			<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
			
			<% end %>
		</select>
	</label>
	
	
	<%= render partial: "./basic_post_form" %>
	
	<h3>additional housing info</h3>
	
	<label>sqft
		<input type="text" name="post[sq_feet]" value="<%= @post.sq_feet %>">
	</label>
	
	<label>rent
		<input type="text" name="post[rent]" value="<%= @post.rent %>">
	</label>
	
	<label>
		bedrooms
		<select name="post[beds]">
			<% 9.times do |i| %>
			
			<%= ("<option value=\"#{i.to_s}\">" + i.to_s + "</option>").html_safe %>
			
			<% end %>
			
		</select>
	</label>
	
	<label>
		bathrooms
		<select name="post[bathrooms]">
			<option value="shared">shared</option>
			<option value="split">split</option>
			
			<% (1..8).each do |i| %>
			
			<%= ("<option value=\"#{i.to_s}\">" + i.to_s + "</option>").html_safe %>
			<%= ("<option value=\"#{i.to_s}.5\">" + "#{i.to_s}.5" + "</option>").html_safe %>
			
			<% end %>
			
			<option value="9+">9&#43;</option>
			
		</select>
	</label>
	
	<br>
	
	<label>
		housing type
		<select name="post[housing_type]">
			<% HousingPost::HOUSING_TYPES.each do |type| %>
			
			<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
			
			<% end %>
		</select>
	</label>
	
</label>

	<label>
		laundry
		<select name="post[laundry]">
			<% HousingPost::LAUNDRY.each do |type| %>
		
			<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
		
			<% end %>
		</select>
	</label>

	<label>
		parking
		<select name="post[parking]">
			<% HousingPost::PARKING.each do |type| %>
		
			<%= ("<option value=\"#{type}\">" + type + "</option>").html_safe %>
		
			<% end %>
		</select>
	</label>
	
	<br>
	
		<label>
			smoking
			<input type="checkbox" name="other_options[]" value="smoking">
		</label>
	  
		<label>
			wheelchair accessable
			<input type="checkbox" name="other_options[]" value="wheelchair">
		</label>

		<label>
			cats ok
			<input type="checkbox" name="other_options[]" value="cats">
		</label>
	
		<label>
			dogs ok
			<input type="checkbox" name="other_options[]" value="dogs">
		</label>
		
		<label>
			furnished
			<input type="checkbox" name="other_options[]" value="furnished">
		</label>
		
		<%= render partial: "./map_info_form" %>
	
	<p><input type="submit" value="publish"></p>
</form>