<!-- housing_posts/show -->

<div class="current-path post-heading">
	<div class="category-details">
		<h2><%= @post.housing_type %>s for <%= @post.category %></h2>
		<h2><%= @post.specific_location %>, <%= @post.region %></h2>
	</div>
	
	<div class="post-show-buttons">
		<!-- make this a real button -->
	  <div <%= "class=show-watch" unless signed_in? && current_user.is_watching?(@post) %>>
			<form
		    class="watch-button-form"
		    action="<%= toggle_post_watch_url(@post) %>"
		    method="post"
		    data-remote="true">

		    <%= form_auth_token %>

		    <input type="hidden" name="_method" value="put">

		    <button class="watch-post-button">Watch Listing</button>
		    <button class="unwatch-post-button">Stop Watching</button>
		  </form>
		</div>
		
		<div class="post-alt-view-buttons">
			<%= link_to "list", housing_posts_url %> |
			<%= link_to "map" %>
		</div>

	</div>
	
	<div class="clear-fix"></div>
</div>

<h1 class="post-title"><%= @post.title %></h1>

<div class="container">
	<div class="contact-info-show">
		<h1>Posted By</h1>
		<p class="ad-poster-name"><%= @post.ad_poster_name %></p>
		<p><%= @post.contact_email %> <br> <%= @post.contact_phone %></p>
		
		<h1>Description</h1>
		
		<p><%= @post.body %></p>
	</div>

	<div class="photos-show">
		<!-- want a main photo and then the thumbnails of the others at the bottom -->
	<% if @post.pictures.length > 0 %>
		<div class="main-photo-container">
			<%= image_tag @post.pictures.first.photo.url(:big) %>
		</div>
	
		<div class="thumbnail-container">
			<% @post.pictures.each do |pic| %>
				<div class="hidden-pic" id="<%= pic.id %>">
					<%= image_tag pic.photo.url(:big) %>
				</div>
				
				<div class="thumbnail" id="<%= pic.id %>">
					<%= image_tag pic.photo.url(:thumb) %>
				</div>
			<% end %>
		</div>
	<% end %>
	</div>

	<div class="details-show">
		<h1>Post info</h1>
	
		<table>
			<thead>
				<th>Rent</th>
				<th>Beds</th>
				<th>Baths</th>
				<%= "<th>Sqft</th>".html_safe if @post.sq_feet && @post.sq_feet != 0%>
			</thead>
			<tr>
				<td>$<%= @post.rent %></td>
				<td><%= @post.beds %></td>
				<td><%= @post.bathrooms %></td>
				<%= "<td>#{@post.sq_feet}</td>".html_safe if @post.sq_feet && @post.sq_feet != 0 %>
			</tr>
		</table>
	
		<div class="fees">
			<p><strong>Fees:</strong> <%= @post.fees %></p>
		</div>
	
		<ul>
			<%= "<li>Cats ok</li>".html_safe if @post.cats %>
			<%= "<li>Dogs ok</li>".html_safe if @post.dogs %>
			<%= "<li>Laundry - #{@post.laundry}</li>".html_safe if @post.laundry != "-" %>
			<%= "<li>Parking - #{@post.parking}</li>".html_safe if @post.parking != "-" %>
			<%= "<li>Furnished</li>".html_safe if @post.furnished %>
			<%= "<li>Wheelchair accessable</li>".html_safe if @post.wheelchair %>
			<%= "<li>Smoking OK</li>".html_safe if @post.smoking %>
		</ul>
	</div>
	
	<div class="clear-fix"></div>
</div>

<script>
$(document).ready(function(){
	$(".thumbnail").on("mouseover", function(event){
		var picId = "#" + $(this).attr("id") + ".hidden-pic"
		$(".main-photo-container").html($(picId).html());
	});
});
</script>