<!-- housing_posts/show -->

<div class="current-path post-heading">
	<div class="category-details">
		<h2><%= @post.housing_type %>s for <%= @post.category %></h2>
		<h2><%= @post.specific_location %>, <%= @post.region %></h2>
	</div>
	
	<div class="post-show-buttons">
		<!-- make this a real button -->
		<div class="watch-button">
			<%= button_to "add to watch list" %>
		</div>
		
		<div class="alt-view-buttons">
			<%= link_to "list" %> |
			<%= link_to "map" %>
		</div>

	</div>
	
	<div class="clear-fix"></div>
</div>

<h1 class="post-title"><%= @post.title %></h1>

<div class="container">
	<div class="contact-info-show">
		<h1>Posted By</h1>
		<p class="ad-poster-name"><%= @post.ad_poster_name %></p>
		<p><%= @post.contact_email %> <br> <%= @post.contact_phone %></p>
		
		<h1>Description</h1>
		
		<p><%= @post.body %></p>
	</div>

	<div class="photos-show">
		<!-- want a main photo and then the thumbnails of the others at the bottom -->
	
		<div class="main-photo-container">
			<%= image_tag @post.pictures.first.photo.url(:big) %>
		</div>
	
		<div class="thumbnail-container">
			<% @post.pictures.each do |pic| %>
				<div class="thumbnail">
					<%= image_tag pic.photo.url(:thumb) %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="details-show">
		<h1>Post info</h1>
	
		<table>
			<thead>
				<th>Rent</th>
				<th>Beds</th>
				<th>Baths</th>
				<%= "<th>Sqft</th>".html_safe if @post.sq_feet %>
			</thead>
			<tr>
				<td><%= @post.rent %></td>
				<td><%= @post.beds %></td>
				<td><%= @post.bathrooms %></td>
				<%= "<td>#{@post.sq_feet}</td>".html_safe if @post.sq_feet %>
			</tr>
		</table>
	
		<p class="fees"><strong>Fees:</strong> <%= @post.fees %></p>
	
		<ul>
			<%= "<li>Cats ok</li>".html_safe if @post.cats %>
			<%= "<li>Dogs ok</li>".html_safe if @post.dogs %>
			<%= "<li>Laundry - #{@post.laundry}</li>".html_safe if @post.laundry != "-" %>
			<%= "<li>Parking - #{@post.parking}</li>".html_safe if @post.parking != "-" %>
			<%= "<li>Furnished</li>".html_safe if @post.furnished %>
			<%= "<li>Wheelchair accessable</li>".html_safe if @post.wheelchair %>
			<%= "<li>Smoking OK</li>".html_safe if @post.smoking %>
		</ul>
	</div>
	
	<div class="clear-fix"></div>
</div>