<h3><%= link_to "CL", root_url %> > 
		<%= link_to "#{@post.category.name}", category_url(@post.category) %> >
		<%= link_to "#{@post.subcategory.name}", subcategory_url(@post.subcategory) %></h3>


<p><strong><%= @post.title %></strong> <%= "&#36; #{@post.price}".html_safe if @post.class == SalePost %><%= "/&#36; #{@post.rent}".html_safe if @post.class == HousingPost %> - <%= @post.region %> (<%= @post.specific_location %>)</p>

<h4>contact info</h4>
<p>
	<%= @post.contact_name %> <br>
	email - <%= @post.contact_email %> <br>
	phone - <%= @post.contact_phone %>
</p>

<h4>post details</h4>

<p><%= @post.body %></p>

<% if @post.class == SalePost || @post.class == HousingPost %>
<%= render partial: "./photos_show" %>
<% end %>