<header>
	<div class="home-button">
		<%= link_to "CLhomes", housing_posts_url %>
	</div>
	
	<ul>
		<% if signed_in? %>
			<li>
				<% if current_user.broker %>
					<%= link_to "Account", user_listings_url %>
				<% else %>
					<%= link_to "Account", user_watchlist_url %>
				<% end %>
			</li>
			<li><%= button_to "Sign Out", session_url, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign In", new_session_url %></li>
		<% end %>
	</ul>
	
	<div class="clear-fix"></div>
</header>