<!DOCTYPE html>
<html>
<head>
  <title>Craigslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= current_user.email if current_user %>

<%= (button_to "Sign Out", session_url, method: :delete) if signed_in? %>

<hr>

<%= yield %>

<hr>

<% if flash[:errors] %>
	<%= flash[:errors].inspect %>
<% end %>

</body>
</html>
