<!DOCTYPE html>
<html>
<head>
  <title>Craigslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= "signed in as: " + current_user.email if current_user %>
	
	<br>

	<%= (button_to "Sign Out", session_url, method: :delete) if signed_in? %>

	<hr>

<%= link_to "Create a Post", new_posts_pick_cat_url%>

<%= yield %>

<hr>

<% if flash[:errors] %>
	<%= flash[:errors].inspect %>
<% end %>

</body>
</html>
