<!DOCTYPE html>
<html>
<head>
  <title>Craigslist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>
		<%= "signed in as: " + current_user.email %>
		<br>
		<%= button_to "Sign Out", session_url, method: :delete %>
	<% else %>
		<%= link_to "Sign In", new_session_url %>
	<% end %>
	<hr>

<%= link_to "CL", root_url %>
<br>
<%= link_to "Create a Post", new_posts_pick_cat_url%>
<br>

<%= yield %>

<hr>

<% if flash[:errors] %>
	<%= flash[:errors].inspect %>
<% end %>

</body>
</html>
