<!DOCTYPE html>
<html>
<head>
  <title>CL Homes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "./header" %>

<%= render partial: "./errors_and_notices" %>

<%= yield %>

<%= render partial: "./footer" %>

<% if flash[:errors] %>
	<%= flash[:errors].inspect %>
<% end %>

</body>
</html>
